.chatWindow {
  width: 100%;
  margin: 0 auto;
  padding: 1em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.chatWindow td {
  color: "#OB0C0C";
}

.chatWindow a {
  color: #1d70b8 !important;
  text-decoration: underline;
}
