.login h1 {
  margin: 60px 0;
}

.login label:first-child {
  font-weight: 700;
}

.login svg {
  height: 35px;
  width: 35px;
}

.landingList {
  margin-left: 30px;
}

.landingAiNoticeLink {
  color: #1d70b8;
}

.landingAiNoticeLink:focus {
  outline: 3px solid transparent;
  background-color: #fd0;
  box-shadow:
    0 -2px #fd0,
    0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.landingDescription {
  font-size: 19px;
  margin-top: -30px;
}

.landingListTitle {
  margin-bottom: 5px;
  font-size: 19px;
}
