.chatHistoryFilterLabel {
  font-weight: bold !important;
  width: 100%;
  height: 10px;
}

.dateField {
  margin-top: 10px;
}

.marginTop {
  margin-top: 25px;
}

.filterDateTitle {
  font-weight: bold !important;
}

.filterCheckboxTitle {
  font-size: 19px;
  font-weight: bold !important;
}

.filterCheckbox {
  margin-top: 10px;
}

.filter {
  width: 100%;
  display: flex;
}

.filterButtons {
  width: 100%;
  display: flex;
  align-items: baseline;
  height: 30px;
  margin-top: 30px;
}

.filterButtons a {
  margin-left: 15px;
  color: #1d70b8;
  font-size: 19px;
}

.filterButtons button:nth-of-type(2) {
  margin-left: 15px;
  font-size: 19px;
  color: #1d70b8;
}

@media screen and (max-width: 468px) {
  .filter {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .filterButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    width: 100%;
    height: 100%;
  }

  .filterButtons button {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 250px) {
  .filterButtons {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
