.select {
  min-width: none !important;
  font-weight: 400;
  font-size: 19px;
  padding: 5px 4px 4px;
  border: 2px solid rgb(11, 12, 12);
  box-sizing: border-box;
  line-height: 1.25;
  margin-top: 5px;
}
