.message_label {
  margin: 0 !important;
  margin-bottom: 10px !important;
}

.message_label p {
  font-weight: 700;
  font-size: 19px;
  background-color: white !important;
}

.followups_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #f3f2ef;
  padding: 1rem;
}

.followups_container button {
  margin-bottom: 0px !important;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
}

.followup_label {
  font-weight: 700 !important;
  font-size: 16px !important;
}

.followup_q {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1d70b8;
  color: #1d70b8;
  text-align: center;
  box-shadow: 0px -2px 0px 0px #002d18 inset;
  font-size: 19px;
  cursor: pointer;
  background-color: white;
  padding: 10px;
  align-content: center;
  justify-content: center;
  margin: 0 !important;
}

.followup_q div {
  margin: 0 !important;
}

.followup_q:focus {
  outline: 3px solid transparent;
  background-color: #fd0;
  box-shadow:
    0 -2px #fd0,
    0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  color: black;
}

.followup_q:hover {
  background-color: #e8f1f8;
}
