.templateContainer {
  margin-bottom: 20px;
  width: 100%;
}

.templateContent {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.templateGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}

.templateCard {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #4c2c92;
  color: #4c2c92;
  text-align: center;
  box-shadow: 0px -2px 0px 0px #929191 inset;
  font-size: 19px;
  cursor: pointer;
  background-color: white;
  padding: 10px;
  align-content: center;
  justify-content: center;
  margin: 0 !important;
}

.templateCard div {
  margin: 0 !important;
}

.templateCard:focus {
  outline: 3px solid transparent;
  background-color: #fd0;
  box-shadow:
    0 -2px #fd0,
    0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  color: black;
}
