.sidebarWrapper {
  /* Sidebar takes one third of the full viewport width */
  flex: 0 0 33.3333vw;
  min-width: 8rem;
  max-width: 33.3333vw;
  height: 100%;

  background-color: #f3f2f1;
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: relative;
  overflow-y: auto;
}

.sidebarSelect:focus {
  outline: 3px solid transparent;
  background-color: #fd0;
  box-shadow:
    0 -2px #fd0,
    0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.sidebarClientWrapper {
  padding: 30px;
}

.closeSidebar {
  display: none !important;
}

.sidebarUCTitle {
  margin-top: 20px;
}

@media screen and (min-width: 769px) {
  .sidebarWrapper {
    position: relative !important;
    transform: none !important;
    width: auto !important;
    max-width: 33.3333vw !important;
    height: 100% !important;
    z-index: 2 !important;
  }

  .sidebarWrapper::before {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .closeSidebar {
    display: block !important;
  }

  .sidebarWrapper {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    z-index: 102;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .sidebarWrapper.open {
    transform: translateX(0);
  }

  .sidebarOverlay {
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.85);
    animation: overlayFadeIn var(--time-in) ease-in-out;
  }
}

@media screen and (max-width: 640px) {
  .sidebarWrapper {
    width: 100%;
    max-width: 100%;
  }

  .sidebarOverlay {
    display: none;
  }
}

@keyframes overlayFadeIn {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(255, 255, 255, 0.85);
  }
}
