.queryTextAreaWrapper {
  border: 1px dashed black;
  padding: 20px;
}

.chatWindowInputButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 15px 0;
}

.chatTextArea {
  margin-bottom: 0 !important;
  font-size: 1.1875rem !important;
}

.queryTextAreaButtons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.chatSend {
  margin: auto 0 !important;
  height: 37.99px !important;
  box-shadow: none !important;
  font-weight: 700 !important;
  width: 80px !important;
}

.newChatButton {
  margin: auto 0 !important;
  height: 37.99px !important;
  box-shadow: none !important;
  font-weight: 700 !important;
  width: 120px !important;
}
