.voicecontrol__ref {
  position: absolute;
  left: -9999px;
}

.answer {
  background-color: #f3f2ef;
  padding: 1rem;
}

.answer__text {
  font-size: 19px !important;
  color: rgb(11, 12, 12);
}

.message_label {
  margin: 0 !important;
  margin-bottom: 10px !important;
  font-weight: bold !important;
}

.message_label p {
  font-weight: 700;
  font-size: 19px;
}

.markdown_list_item {
  font-size: 19px;
  color: black;
}

.message_answer_refine_buttons {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  margin-top: 10px;
}

.message_answer_refine_buttons_no_margin {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 0;
  align-items: flex-start;
  height: fit-content;
}

.message_answer_refine_buttons button {
  margin-bottom: 0px !important;
}

.markdown_span_paragraph {
  margin: 0 !important;
}

.govuk_table {
  margin-bottom: 30px;
}

.govuk_table__row {
  padding: 10px 20px 10px 0;
  border-bottom: 1px solid #b1b4b6;
  text-align: left;
  vertical-align: top;
  color: rgb(11, 12, 12);
  font-size: 19px;
}

.govuk_table__header {
  padding: 10px 20px 10px 0;
  border-bottom: 1px solid #b1b4b6;
  text-align: left;
  vertical-align: top;
  color: rgb(11, 12, 12);
  font-weight: 700;
  font-size: 19px;
}

.markdown_link {
  text-decoration: underline;
  font-size: 19px !important;
  color: #1d70b8 !important;
}

.markdown_link:focus {
  outline: 3px solid #ffdd00;
  outline-offset: 0;
  background-color: #ffdd00;
}

.ai_disclaimer_span {
  margin-bottom: 20px;
}

.ai_disclaimer {
  font-size: 19px;
}

.markdownContainer {
  margin-top: 15px;
  font-size: 19px;
}

.viewGuidanceLink {
  display: block !important;
  font-size: 19px !important;
  margin-top: 10px !important;
}
