:root {
  --govuk-blue-text: #1d70b8;
}

* {
  font-family: Arial, Helvetica, sans-serif !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
html {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.govuk-header__container {
  position: relative !important;
  margin-bottom: -10px !important;
  padding: 10px 0 !important;
  border-bottom: none !important;
}

.govuk-footer {
  border-top: 1px solid rgb(161, 172, 178) !important;
}
