.chatBacklink {
  text-decoration: underline;
  cursor: pointer;
}

.chatHistoryFilterLabel {
  font-weight: bold !important;
  width: 100%;
  height: 10px;
}

.chatFilterMessage {
  margin-top: 20px !important;
  width: 100%;
}

.chatFilterMessage p {
  font-size: 19px;
}

.chatHistoryFilterLabel p {
  font-size: 24px;
}

.dateField {
  margin-top: 10px;
}

.filterDateTitle {
  font-weight: bold !important;
}

.filter {
  width: 100%;
  display: flex;
  gap: 25px;
}

.filterButtons {
  width: 100%;
  display: flex;
  align-items: baseline;
  height: 30px;
}

.filterButtons a {
  margin-left: 15px;
  color: #1d70b8;
  font-size: 19px;
}

.exportButtonMarginTop {
  margin-top: 25px;
}

.loading {
  margin-top: 10px;
}

.tableLink {
  color: #1d70b8 !important;
  margin-top: -20px;
  position: relative;
}

.exportButton button {
  font-size: 19px;
  font-weight: 300;
  cursor: pointer;
}

.resetButton {
  margin-left: 15px;
  font-size: 19px;
  color: var(--govuk-blue-text);
  text-decoration: underline;
}

@media screen and (max-width: 468px) {
  .filter {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .filterButtons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    width: 100%;
    height: 100%;
  }

  .filterButtons button {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 250px) {
  .filterButtons {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
