.chatWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: unset !important;
}

.chatWindow {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: auto;
}

.chatWindowClearedText {
  align-self: flex-start;
  margin: 0 !important;
}

.chatWindowMiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10%;
  width: 100%;
}

.chatWindowMiddleText p {
  padding: 0 !important;
  margin: 0 !important;
  font-weight: 700;
  font-size: 30px !important;
}

.chatContainer {
  flex-grow: 1;
  width: 100%;
  margin: 1rem 0;
}

.chatContainer:focus {
  border: 3px solid #ffdd00;
  overflow-x: hidden;
}

.chatContainer:focus-visible {
  outline: none;
}

.chatWrapper svg,
.chatContainer svg {
  height: 35px;
  width: 35px;
}

.screenReaderOnly {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.chatLabel {
  font-size: 27px !important;
  font-weight: 700 !important;
}

.chatLabelSecondary {
  margin-top: 15px !important;
  font-size: 24px !important;
  font-weight: 700 !important;
}

.blankSpace {
  height: 40px;
  width: 100%;
}
