.exampleCard {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1d70b8;
  color: #1d70b8;
  text-align: center;
  box-shadow: 0px -2px 0px 0px #002d18 inset;
  font-size: 19px;
  cursor: pointer;
  background-color: white;
  padding: 10px;
  align-content: center;
  justify-content: center;
  margin: 0 !important;
}

.exampleCard div {
  margin: 0 !important;
}

.exampleCard:focus {
  outline: 3px solid transparent;
  background-color: #fd0;
  box-shadow:
    0 -2px #fd0,
    0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  color: black;
}
