.message_label {
  margin: 0 !important;
  margin-bottom: 10px !important;
}

.message_label {
  font-weight: 700;
  font-size: 19px;
  background-color: white !important;
}

.message_question {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #d1e2ef;
  padding: 12px;
  border-radius: 5px;
}

.message_question p {
  margin-bottom: 0 !important;
  font-size: 19px !important;
}

.message_question div {
  margin: 0 !important;
}

.message_question_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  text-align: right;
}
