.link_underline,
.link_button {
  text-decoration: underline;
  display: inline;
  color: #0c66e4;
}

.link_underline:hover {
  cursor: pointer;
}

.link_underline:focus {
  outline: 3px solid #ffdd00;
  outline-offset: 0;
  background-color: #ffdd00;
}

.link_button:focus {
  outline: 3px solid #ffdd00;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px;
  background-color: #ffdd00 !important;
}
